:root {
  --primary: #255ea7;
  --onPrimary: #ffffff;
  --primaryContainer: #d6e3ff;
  --onPrimaryContainer: #001b3c;
  --secundary: #d9e3f8;
  --onSecundary: #121c2b;
  --secundaryContainer: #f5f5f5;
  --onSecundaryContainer: #121c2b;
  --background: #fdfbff;
  --onBackground: #1a1c1e;
  --surface: #fdfbff;
  --onSurface: #1a1c1e;
  --outline: #74777f;
  --outlineVariant: rgba(255, 0, 0, 0.7);
  --shadow: rgba(0, 0, 0, 0.3);
  --surfaceVariant: #e0e2ec;
  --onSurfaceVariant: #43474e;
}
