.product-wide-card {
  display: flex;
  border-radius: 12px;
  height: 150px;
  gap: 20px;
  background-color: var(--surface);
  border: 1px solid var(--outline);
}

.card-wide-container-image {
  display: flex;
  height: 150px;
  width: 150px;
  border-radius: 12px;
  background-color: #ffffff;
}

.card-wide-container-image img {
  height: inherit;
  border-radius: 12px;
  aspect-ratio: 1 / 1;
}

.card-wide-details {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-top: 20px;
}

.card-wide-title {
  margin: 8px 6px;
  font-size: 1.1em;
  font-weight: 600;
}

.card-wide-precio-container {
  display: flex;
}

.card-wide-value-cont {
  display: flex;
  gap: 6px;
  margin: 0px 8px;
  align-items: center;
}

.card-wide-value-cont p {
  margin: 0px;
  color: var(--onSurface);
}

.card-wide-value-prev {
  margin: 2px 8px;
  font-size: 0.8em;
  color: gray;
  text-decoration: line-through;
}

.card-wide-value {
  margin: 2px 8px;
  font-weight: 600;
  font-size: 1.1em;
  color: #144c96;
}

.card-wide-button-container {
  display: flex;
  margin: 4px 12px;
  align-self: flex-end;
}
